<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
    {% include 'header_index_main.html' %}
    {% include 'footer_index_main.html' %}
<!--    <link rel="stylesheet" href="{{url_for('static',filename='css/background.css')}}">-->
   <style>-->
        body {
            background:url('static/image/8.jpeg');
            background-repeat:no-repeat;
            background-size:cover;
        }
   </style>
</head>
<body>
<div class="container">
    <div class=" col-md-offset-3 col-md-5" style="padding-top: 100px; color: aliceblue;">
        <h1 class="text-center mb-4 page-header">Register</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages%}
              {% for category,message in messages%}
                  <div class="alert alert-{{category}}">{{message}}</div>
              {% endfor %}
          {% endif %}
        {% endwith%}

        <form action=" " method="POST" autocomplete="off">
            <div class="form-group">
                <label for="username" style="font-size:15px;">Username</label>
                <input type="text" name="username" class="form-control" required id="username" style="font-size:15px;">
            </div>
            <div class="form-group">
                <label for="password" style="font-size:15px;">Password</label>
                <input type="password" name="password" class="form-control" required id="password" style="font-size:15px;">
            </div>
            <div class="form-group">
                <label for="email" style="font-size:15px;">Email</label>
                <input type="email" name="email" class="form-control" required id="email" style="font-size:15px;">
            </div>
            <div class="form-group text-center">
                <input type="submit" class="btn btn-primary btn-block" value="Register" name="register" style="font-size:15px;" style="font-size:15px;">
            </div>
        </form>
    </div>
</div>
</body>
</html>
